@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {


:root  {
  --background: 155 18% 95%;
  --foreground: 155 5% 10%;
  --card: 155 18% 90%;
  --card-foreground: 155 5% 15%;
  --popover: 155 18% 95%;
  --popover-foreground: 155 95% 10%;
  --primary: 155 100% 32%;
  --primary-foreground: 0 0% 100%;
  --secondary: 155 18% 83%;
  --secondary-foreground: 0 0% 0%;
  --muted: 117 18% 85%;
  --muted-foreground: 155 5% 40%;
  --accent: 117 18% 83%;
  --accent-foreground: 155 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 155 5% 90%;
  --border: 155 20% 82%;
  --input: 155 20% 50%;
  --ring: 155 100% 32%;
  --radius: 0.5rem;
}
.dark  {
  --background: 155 18% 10%;
  --foreground: 155 5% 90%;
  --card: 155 18% 10%;
  --card-foreground: 155 5% 90%;
  --popover: 155 18% 5%;
  --popover-foreground: 155 5% 90%;
  --primary: 155 100% 32%;
  --primary-foreground: 0 0% 100%;
  --secondary: 155 18% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 117 18% 25%;
  --muted-foreground: 155 5% 65%;
  --accent: 117 18% 25%;
  --accent-foreground: 155 5% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 155 5% 90%;
  --border: 155 20% 50%;
  --input: 155 20% 50%;
  --ring: 155 100% 32%;
  --radius: 0.5rem;
}

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }

    h1 {
        @apply text-4xl font-bold;
    }
  }
